.end {
  height: 100vh;
  padding: 16px;
  background-color: #00377d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .end_title {
    color: white;
  }

  .end_subtitle {
    color: white;
    text-align: center;
  }

  .end_form_button {
    border: none;
    padding: 0 20px;
    font-weight: 500;
    height: 35px;
    border-radius: 50px;
    background-color: #00c8ff;
    color: white;
    text-transform: uppercase;
  }
}
